/**
 * Ajustes para Casiopea
 *
 * @author Herbert Spencer
 * @since 1.1.4
 * @hspencer
 */

/*############################ elementos para mover al tema #########################*/
#p-logo{
	padding: 9px 25px;
	background-color: black;
}

#p-logo:hover{
	background-color: #7A151B;
}

#p-logo a:hover{
	background-color: transparent;
}

#mw-content-text{
	font-size: 18px;
	line-height: 180%;
	p{
		text-align: justify;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}

#wpTextbox1 {
	font-family: mono;
	margin: 0px;
	display: block;
}
